@font-face {
	font-family: tis-100-copy;
	src: local("tis 100 copy"), 
		local("tis-100-copy"), 
		url(tis100copy.ttf) format('truetype');
	font-weight: bold;
}

body {
	padding: 1px;
	margin: 1px;
}
html {
	position: relative;
	background-color: #DDDDDD;
	font-family: tis-100-copy;
	padding: 0;
	margin: 0;
}
canvas#game {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}